* {
    box-sizing: border-box;
    font-family: monospace;
    /* font-size: 1rem; */
}

.centered-toast {
    background: rgba(23, 23, 38, 0.95);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.28);
    border: 2px solid #34d399;
    /* emerald-400 */
}

@import "tailwindcss";